.mce-toolbar .wphb-container .mce-btn.mce-active {
    background: transparent;
    border-color: transparent;
}

.mce-toolbar .wphb-container .mce-btn.mce-active button {
    background: #d9d9d9;
    border-radius: .25rem;
}